@{ ViewData["Title"] = "Privacy"; }

<h1>Privacy</h1>
<p>This is a third party web app created to assist players of <a href="https://melvoridle.com/">Melvor Idle</a>.</p>

<h2>Terms and Conditions</h2>
<p>Welcome to the Melvor Calc web application. If you continue to browse and use this website, you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy policy govern Azemari’s relationship with you in relation to this website. If you disagree with any part of these terms and conditions, please do not use our website.</p>
<p>The term ‘Azemari’ or ‘us’ or ‘we’ or ‘I’ refers to the owner of the website. The term ‘you’ refers to the user or viewer of our website.</p>
<p>The use of this website is subject to the following terms of use:</p>
<ul>
    <li>The content of the pages of this website is for your general information and use only. It is subject to change without notice.</li>
    <li>This website uses cookies to monitor browsing preferences. If you do allow cookies to be used, see our cookie policy to see the data we store. </li>
    <li>Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness, performance, completeness or suitability of the information and materials found or offered on this website for any particular purpose. You acknowledge that such information and materials may contain inaccuracies or errors and we expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law. </li>
    <li>Your use of any information or materials on this website is entirely at your own risk, for which we shall not be liable. It shall be your own responsibility to ensure that any products, services, or information available through this website meet your specific requirements. </li>
    <li>This website contains material, which is owned by Malcs, the developer of Melvor Idle. This material includes, but is not limited to, the graphics and information. Reproduction is prohibited other than in accordance with the copyright notice, which forms part of these terms and conditions. </li>
    <li>All trademarks reproduced in this website, which are not the property of, or licensed to the operator, are acknowledged on the website. </li>
    <li>Unauthorised use of this website may give rise to a claim for damages and/or be a criminal offence. </li>
    <li>From time to time, this website may also include links to other websites. These links are provided for your convenience to provide further information. They do not signify that we endorse the website(s). We have no responsibility for the content of the linked/external website(s). </li>
    <li>Your use of this website and any dispute arising out of such use of the website is subject to the laws of England, Northern Ireland, Scotland and Wales. </li>
</ul>

<h2 id="Cookies">Cookies</h2>
<p>Should you wish to view the cookies, using Chrome, you can Inspect the page (Ctrl + Shift + I). Navigate to Application. Under Cookies, select the site and all the cookies used by the site will be displayed.</p>
<h3>Essential Cookies</h3>
<p>If you rejected cookies, we store the following information about you:</p>
<ul>
    <li>.AspNetCore.Antiforgery.xxxxxxxxxxx - This is set by ASP.NET Core and is used to validate forms against cross site scripting (XSS)</li>
    <li>Consent - We store your consent as "Never". We store this so that we don't bother you about your choice on cookie usage every time you visit the site.</li>
    <li>Consent - If this is your first time visiting the site, the Consent will be "False". This is to identify you have not made a selection and you will be reminded should you leave and re-visit the site.</li>
</ul>

<h3>All Cookies</h3>
<p>Some cookies are set by Patreon. You can visit their policy section <a href="https://privacy.patreon.com/policies">here.</a></p>
<p>If you allowed us to use cookies, we store the following information and this is how we use it:</p>
<ul>
    <li>.AspNetCore.Antiforgery.xxxxxxxxxxx - This is set by ASP.NET Core and is used to validate forms against cross site scripting (XSS)</li>
    <li>Consent - We store your consent as "true". We use this as a check before we touch anything cookie related.</li>
    <li>
        Xp Modifiers - We store these so that you can easily change your XP modifiers without having to reselect options you have previously
        <ul>
            <li>AncientRingOfSkills</li>
            <li>Pyro</li>
            <li>Skillcape</li>
            <li>PitJump</li>
            <li>TreeClimb</li>
            <li>ALovelyJog</li>
            <li>TreeHang</li>
            <li>CoalStone</li>
            <li>TreeBalance</li>
            <li>WaterTrap</li>
        </ul>
    </li>
    <li>totalBonus - We save your Xp modifiers total modifier so that the site can run faster.</li>
    <li>Each skill contains the following cookies - These store the data you entered so that it can be recovered when you re-visit the site.
        <ul>
            <li>[SkillName]TargetLevel</li>
            <li>[SkillName]TargetXp</li>
            <li>[SkillName]Gloves</li>
            <li>[SkillName]Level</li>
            <li>[SkillName]TargetLevel</li>
        </ul>
    </li>
</ul>

<h2>Contact</h2>
<p>Should you wish to contact me. you may mention me (Azemari#2848) in the <a href="https://discord.gg/melvoridle>">Melvor Idle Discord Server</a> </p>
