@{ ViewData["Title"] = "Privacy"; }

<h1>Privacy</h1>
<p>This is a third party web app created to assist players of <a href="https://melvoridle.com/">Melvor Idle</a>.</p>

<h2>Donations</h2>
<p>Please write me</p>

<h2>Terms and Conditions</h2>
<p>Please write me</p>

<h2 id="Cookies">Cookies</h2>
Should you wish to view the cookies, using Chrome, you can Inspect the page (Ctrl + Shift + I). Navigate to Application. Under Cookies, select the site and all the cookies used by the site will be displayed.
<br /><br />
<h3>Essential Cookies</h3>
If you rejected cookies, we store the following information about you:
<ul>
    <li>.AspNetCore.Antiforgery.xxxxxxxxxxx - This is set by ASP.NET Core and is used to validate forms against cross site scripting (XSS)</li>
    <li>Consent - We store your consent as "Never". We store this so that we don't bother you about your choice on cookie usage every time you visit the site.</li>
    <li>Consent - If this is your first time visiting the site, the Consent will be "False". This is to identify you have not made a selection and you will be reminded should you leave and re-visit the site.</li>
</ul>

<h3>All Cookies</h3>
If you allowed us to use cookies, we store the following information and this is how we use it:
<ul>
    <li>.AspNetCore.Antiforgery.xxxxxxxxxxx - This is set by ASP.NET Core and is used to validate forms against cross site scripting (XSS)</li>
    <li>Consent - We store your consent as "true". We use this as a check before we touch anything cookie related.</li>
    <li>
        Xp Modifiers - We store these so that you can easily change your XP modifiers without having to reselect options you have previously
    </li>
        <ul>
            <li>AncientRingOfSkills</li>
            <li>Pyro</li>
            <li>Skillcape</li>
            <li>PitJump</li>
            <li>TreeClimb</li>
            <li>ALovelyJog</li>
            <li>TreeHang</li>
            <li>CoalStone</li>
            <li>TreeBalance</li>
            <li>WaterTrap</li>
        </ul>
</ul>

<h2>Contact</h2>
<p>Should you wish to contact me. you may mention me (Azemari#2848) in the <a href="https://discord.gg/melvoridle>">Melvor Idle Discord Server</a> </p>