@{ ViewData["Title"] = "Privacy"; }

<h1>Privacy</h1>

<p>This is a third party web app created to assist players of <a href="https://melvoridle.com/">Melvor Idle</a>.</p>

<h2>Data</h2>
<p>We do not retain any data about you or the data that you submit to the site. All the data that is processed is provided by you in the form of the skills.json and XpModifiers.json files. These contain the necessary information to create calculations and are what makes the xp calculator work. These files also allow
    you to quickly pick up where you left off from a previous visit without having to re-enter all of the necessary data.</p>

<h2>Contact</h2>
<p>Should you wish to contact me. you may mention me (Azemari#2848) in the <a href="https://discord.gg/melvoridle>">Melvor Idle Discord Server</a> </p>