@{ViewData["Title"] = "Roadmap";}
<div class="text-center">
    <h1 class="display-4">Roadmap</h1>
    <p>This is where all the milestones will be displayed</p>
    <p>Unfortunately, none of these milestones are set in stone</p>
    <div class="row">
        <div class="col-12 mb-2">
            <img style="width: 25px;" src="~/Images/Cookie.svg" alt="Cookie" />
            <span>Data Management - Cookies - <strong>Done</strong></span>
        </div>
        <div class="col-12 mb-2">
            <img style="width: 25px;" src="~/Images/Skills/Smithing.svg" alt="Experience" />
            <span>Skill - Smithing - <strong>Done</strong></span>
        </div>
        <div class="col-12 mb-2">
            <img style="width: 25px;" src="~/Images/xp.svg" alt="Smithing" />
            <span>Item Level Indicators - Smithing - <strong>Done</strong></span>
        </div>
        <div class="col-12 mb-2">
            <img style="width: 25px;" src="~/Images/Skills/Cooking.svg" alt="Cooking" />
            <span><strong>Skill - Cooking - In Progress</strong></span>
        </div>
        <div class="col-12 mb-2">
            <img style="width: 25px;" src="~/Images/Skills/Woodcutting.svg" alt="Woodcutting" />
            <span>Skill - Woodcutting - Planned</span>
        </div>
        <div class="col-12 mb-2">
            <img style="width: 25px;" src="~/Images/Skills/Fishing.svg" alt="Fishing" />
            <span>Skill - Fishing - Planned</span>
        </div>
        <div class="col-12 mb-2">
            <img style="width: 25px;" src="~/Images/Skills/Mining.svg" alt="Mining" />
            <span>Skill - Mining - Planned</span>
        </div>
        <div class="col-12 mb-2">
            <img style="width: 25px;" src="~/Images/Skills/Thieving.svg" alt="Thieving" />
            <span>Skill - Thieving - Planned</span>
        </div>
        <div class="col-12 mb-2">
            <img style="width: 25px;" src="~/Images/Skills/Farming.svg" alt="Farming" />
            <span>Skill - Farming - Planned</span>
        </div>
        <div class="col-12 mb-2">
            <img style="width: 25px;" src="~/Images/Skills/Fletching.svg" alt="Fletching" />
            <span>Skill - Fletching - Planned</span>
        </div>
        <div class="col-12 mb-2">
            <img style="width: 25px;" src="~/Images/Skills/Crafting.svg" alt="Crafting" />
            <span>Skill - Crafting - Planned</span>
        </div>
        <div class="col-12 mb-2">
            <img style="width: 25px;" src="~/Images/Skills/Runecrafting.svg" alt="Runecrafting" />
            <span>Skill - Runecrafting - Planned</span>
        </div>
        <div class="col-12 mb-2">
            <img style="width: 25px;" src="~/Images/Skills/Herblore.svg" alt="Herblore" />
            <span>Skill - Herblore - Planned</span>
        </div>
        <div class="col-12 mb-2">
            <img style="width: 25px;" src="~/Images/Skills/Agility.svg" alt="Agility" />
            <span>Skill - Agility - Planned</span>
        </div>
        <div class="col-12 mb-2">
            <img style="width: 25px;" src="~/Images/Mastery.svg" alt="Mastery" />
            <span>Mastery</span>
        </div>
        <div class="col-12 mb-2">
            <h4>Additional Modifiers</h4>
        </div>
        <div class="col-12 mb-2">
            <img style="width: 25px;" src="~/Images/Pets/Chio.svg" alt="Chio" />
            <span>Pets</span>
        </div>
        <div class="col-12 mb-2">
            <img style="width: 25px;" src="~/Images/Skillcapes/Max.svg" alt="Max Skillcape" />
            <span>Skillcapes</span>
        </div>
        <div class="col-12 mb-2">
            <img style="width: 25px;" src="~/Images/Crown_of_Rhaelyx.png" alt="Crown of Rhaelyx" />
            <span>Crown of Rhaelyx Considerations</span>
        </div>
        <div class="col-12 mb-2">
            <img style="width: 25px;" src="~/Images/Aorpheat's_Signet_Ring.svg" alt="Aorpheat's Signet Ring" />
            <span>Aorpheat's Signet Ring Considerations</span>
        </div>
        <div class="col-12 mb-2">
            <h4>Additional Features</h4>
        </div>
        <div class="col-12 mb-2">
            <img style="width: 25px;" src="~/Images/Items/Fletching/Javelin/Dragon_Javelin.svg" alt="Aorpheat's Signet Ring" />
            <span>Dragon Javelin Calculator</span>
        </div>
        <div class="col-12 mb-2">
            <h4>Website Improvements</h4>
        </div>
        <div class="col-12 mb-2">
            <div style="background-color:rgb(35, 42, 53); color: white; padding: 5px; border-radius: 10px;">
                <span>Dark Mode</span>
            </div>
        </div>
    </div>
</div>