@{ViewData["Title"] = "Roadmap";}
<div class="text-center">
    <h1 class="display-4">Roadmap</h1>
    <p>This is where all the milestones will be displayed</p>
</div>
<ul>
    <li>Data management - Cookies</li>
    <li>Smithing </li>
    <li>Item Level Indicators</li>
    <li><strong>Cooking [Current]</strong></li>
    <li>Other Skills</li>
    <li>Initial Release</li>
    <li>Accessibility Improvements</li>
    <li>Mastery Pool checkpoints included in calculations</li>
    <li>Mastery estimations / considerations</li>
    <li>Mastery Calculator</li>
</ul>